<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <!--link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style type="text/css">
    </style>
    <!--link rel="stylesheet" href="../public/stylesheets/css/bootstrap-fileinput-master/css/fileinput.css"-->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/ImagePreview.css">
</head>


<body>
    <h1 class="text-center">Express - JWT Experiments</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="./authenticate" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember">Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register-form" action=".." method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="r_username" id="r_username" tabindex="1" class="form-control" placeholder="Username" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="r_email" id="r_email" tabindex="1" class="form-control" placeholder="Email Address" value="" required >
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="r_password" id="r_password" tabindex="2" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" type='password' required>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <image id='Img_Avatar' class="avatar" src = '../public/images/avatar.jpg'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Select Avatar</button>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select Avatar</h4>
                    </div>
                    <div class="modal-body">
                        <p>Drag the image to take an avatar</p>


                        <div class="row">
                            <div class="col-md-9">
                                <div class="imageBox" id='mainImg'>
                                    <div class="thumbBox"></div>
                                    <div class="spinner" style="display: none">Loading...</div>
                                </div>
                                <div class="action">
                                    <span class="file-input btn btn-primary btn-file">
                                        Browse&hellip;
                                        <input type="file" multiple id='file'>
                                    </span>
                                    <!--input type="button" id="btnCrop" class="btn btn-primary btncrop" value="Crop"-->
                                    <input type="button" id="btnZoomIn" class="btn btn-primary" value="+" style="float: right">
                                    <input type="button" id="btnZoomOut" class="btn btn-primary" value="-" style="float: right">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="preview">
                                    <img id='preview' src="../public/images/avatar.svg">
                                </div>
                                <div class="preview-md">
                                    <img id='preview-md' src="../public/images/avatar.svg">
                                </div>
                                <div class="preview-sm">
                                    <img id='preview-sm' src="../public/images/avatar.svg">
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--End of Modal-->

    </div>


    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <!-- Bootstrap JavaScript -->


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
    $(".file").on('fileselect', function(event, n, l) {
        alert('File Selected. Name: ' + l + ', Num: ' + n);
    });
    </script>
    <!--Custom Javascript Start here-->
    <script type="text/javascript" src="../public/javascripts/Crypto/cryptoUtils.js"></script>
    <script type="text/javascript" src="../public/javascripts/ImageSelector/chiplcrop.js"></script>
    <script type="text/javascript">
    var RSAPublicKey = <%-JSON.stringify(data)%>
        //console.log(RSAPublicKey);
    var loginObject = {};
    var registerObject = {};

    // Map login function for login-submit
    $('#login-submit').click(function(e) {
        makeLoginRequest();
        e.preventDefault();
    });
    $('#register-submit').click(function(e){
        makeRegisterRequest();
        e.preventDefault();
    });

    function makeLoginRequest() {
        loginObject.userName = $('#username').val();
        loginObject.password = $('#password').val();
        var _data = {
            data: cryptoUtil.EncryptJSON(loginObject, RSAPublicKey)
        };
        //console.log(_data);
        // Make Ajax request
        $.post('./login', _data, function(result) {
            console.log('result', result);
        });
    };

    function makeRegisterRequest(){
        
        if (!$('#r_username').val()||!$('#r_email').val()||!$('#r_password').val()){
            alertInvalid(' Missing username or email or password..');
            return;
        }
        if ($('#r_password').val()!= $('#confirm-password').val()){
            alertInvalid(' password and confirm password is different..');
            return;
        }
        registerObject.userName = $('#r_username').val();
        registerObject.password = $('#r_password').val();
        var _data = {
            data: cryptoUtil.EncryptJSON(registerObject, RSAPublicKey)            
        };
        // set test property:
        //_data.check = " abcdef ";
        _data.avatar = imageData;
                
        console.log(_data);
        // Make Ajax request                
        $.ajax({
            url: './setup',
            method: 'POST',
            data: JSON.stringify(_data), 
            contentType:'application/json',
            complete: function(data, status, jqXHR ) {
                console.log('result', data);
            }
        });  

    };

    function alertInvalid(msg){
        console.log(' invalid input: ', msg);
    };
    </script>
    <!--scriptfile for preview avatar-->
    <script type="text/javascript">
    var imageData;

    DisplayPreview = function(data) {
        //console.log('imgdata: ', data);
        imageData = data;
        document.getElementById('preview').setAttribute('src', data);
        document.getElementById('preview-md').setAttribute('src', data);
        document.getElementById('preview-sm').setAttribute('src', data);
        //document.getElementById('Img_Avatar').setAttribute('src',data);
    }

    window.onload = function() {
        options = {
            imageBox: '.imageBox',
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '../public/images/avatar.jpg'
        }
        cropper = new cropbox(options, DisplayPreview);
        document.querySelector('#file').addEventListener('change', function() {
                var reader = new FileReader();
                reader.onload = function(e) {
                    options.imgSrc = e.target.result;
                    //cropper = new cropbox(options, DisplayPreview);
                    cropper.resetOption(options);
                }
                reader.readAsDataURL(this.files[0]);
                this.files = [];
            })
        document.querySelector('#btnZoomIn').addEventListener('click', function() {
            cropper.zoomIn();
        })
        document.querySelector('#btnZoomOut').addEventListener('click', function() {
            cropper.zoomOut();
        })
        $('#myModal').on('hidden.bs.modal', function() {
            console.log('close modal:');
            document.getElementById('Img_Avatar').setAttribute('src',imageData);
        });
        $('#myModal').on('shown.bs.modal', function() {            
            cropper.resetOption(options);
        });
    };
    </script>
    

    <!--end of scriptfile for preview avatar-->
    <script type="text/javascript">

  // ref: http://diveintohtml5.org/detect.html
  function supports_input_placeholder()
  {
    var i = document.createElement('input');
    return 'placeholder' in i;
  }

  if(!supports_input_placeholder()) {
    var fields = document.getElementsByTagName('INPUT');
    for(var i=0; i < fields.length; i++) {
      if(fields[i].hasAttribute('placeholder')) {
        fields[i].defaultValue = fields[i].getAttribute('placeholder');
        fields[i].onfocus = function() { if(this.value == this.defaultValue) this.value = ''; }
        fields[i].onblur = function() { if(this.value == '') this.value = this.defaultValue; }
      }
    }
  }

</script>

    <!--Custom Javascript End here-->

</body>

</html>
